@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    padding: 10px;
    background-image: url(../images/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#hour {
    color: #fff;
}

.title {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:   5rem 0 12rem;
}

.title > h1 {
    font-size: 48px;
}

.title > p {
    font-size: 18px;
}

.login-section {
    display: flex;
    flex-direction: column;
}

.login-section > a {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 40px;
    text-decoration: none;
}

.login {
    padding: 18px;
    border-radius: 10px;
    margin: 0 20px;
}

.input {
    margin-top: 20px;
}

.button {
    color: #fff;
    background: #0ACF83;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.google-button {
    border: none;
    background: rgba(0,0,0,0);
    color: #fff;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
}

footer > p {
    color: #fff;
    margin-top: 120px;
    margin-bottom: 37px;

}

p > a {
    color: #0ACF83;
    text-decoration: none;
}